---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
const iconUrls = {
	"/" : "/icons/icon_Nav_SOU@2x.png",
	"/MAT" : "/icons/icon_Nav_mat@2x.png",
	"/MC" : "/icons/icon_Nav_MC@2x.png",
	"/TECH" : "/icons/icon_Nav_THCH@2x.png",
	"/HR" : "/icons/icon_Nav_HR@2x.png",
	"/RC" : "/icons/icon_Nav_RC@2x.png",
	"/SVC" : "/icons/icon_Nav_SVC@2x.png",
}
const iconUrl = iconUrls[href + ""];
const isHidden = iconUrl === undefined || iconUrl === '';
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<img src={iconUrl} hidden={isHidden}/> <slot />
</a>
<style>
	a {
		padding: 1.6em 1em;
		display: inline-block;
		text-decoration: none;
		font-size: 14px;
		font-family: PingFang SC, PingFang SC;
		font-weight: 400;
		color: var(--white);
		border-bottom: 4px solid transparent;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	a.active {
		text-decoration: none;
		font-size: 16px;
		font-family: PingFang SC, PingFang SC;
		font-weight: 600;
		border-bottom-color: var(--white);
	}
	a img {
		padding: 0;
		margin: 0;
		margin-right: 2px;
		height: 1em;
		width: 1em;
	}
</style>
